[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
pyfiglet = "*"
typing-extensions = "*"
getch = "*"
sqlalchemy = "*"
psutil = "*"
future = "*"
pyp2p = "*"

[dev-packages]

[requires]
python_version = "3.10"
